/* Font-face declarations */
@font-face {
  font-family: 'Geist-Regular';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-Medium';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-Light';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-Bold';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-Black';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-SemiBold';
  src: url('/src/assets/Fonts/statics-ttf/Geist-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-Thin';
  src: url('/src/assets/Fonts/statics-ttf/Geist-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-UltraBlack';
  src: url('/src/assets/Fonts/statics-ttf/Geist-UltraBlack.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist-UltraLight';
  src: url('/src/assets/Fonts/statics-ttf/Geist-UltraLight.ttf') format('truetype');
}

/* Color variables */
:root {
  --vt-c-white: #D1D1D1;
  --vt-c-black: #151515;
  --vt-c-grey: #232323;
  --vt-c-rose: #BA20D3;
  --vt-c-purple: #821BD3;
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-white);
}

/* Global styles */
body {
  margin: 0;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-background);
  position: relative;
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Geist-Bold', sans-serif;
  font-size: 18px;
}

/* Header styles */
header {
  font-family: 'Geist-Black', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Fonts sizes */
h1 {
  font-size: 68.66px;
  text-shadow: 4px 4px 2px rgba(124, 124, 124, 0.25);
}
h6 {
  font-size: 22.5px;
}
p {
  font-size: 18px;
  line-height: 175%;
}
