@font-face {
  font-family: 'Geist';
  src: 
    url('/src/assets/Fonts/statics-ttf/Geist-Regular.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-Medium.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-Light.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-Bold.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-Black.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-SemiBold.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-Thin.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-UltraBlack.ttf') format('truetype'),
    url('/src/assets/Fonts/statics-ttf/Geist-UltraLight.ttf') format('truetype');
}

:root {
  --vt-c-white: #D9D9D9;
  --vt-c-black: #151515;
}

:root {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-white);
  --section-gap: 160px;
}

body {
  margin: 0;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-background);
  position: relative;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:'Geist-Bold', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-family: 'Geist-Black', sans-serif;
}
