/* Import base styles */
@import './base.css';

/* Canvas styles */
canvas#myCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Logo image styles */
.logo {
  height: 60px;
  width: 60px;
}

.logo:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.DWT img{
  width: 70px;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

/* Links styles */
.whatnext {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-family: 'Geist-Black',sans-serif;
  font-size: 16px;
  width: 12rem;
  height: auto;
}

.whatnext .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(91.29deg, #821BD3 0.23%, #BA20D3 52.52%);
  border-radius: 1.625rem;
}

.whatnext .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--vt-c-white); /* Remplacez $white par la couleur appropriée */
}

.whatnext .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.whatnext .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--vt-c-white); /* Remplacez $white par la couleur appropriée */
  border-right: 0.125rem solid var(--vt-c-white); /* Remplacez $white par la couleur appropriée */
  transform: rotate(45deg);
}

.whatnext .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--vt-c-white); /* Remplacez $black par la couleur appropriée */
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.whatnext:hover .circle {
  width: 100%;
}

.whatnext:hover .circle .icon.arrow {
  background: var(--vt-c-white); /* Remplacez $white par la couleur appropriée */
  transform: translate(1rem, 0);
}

.whatnext:hover .button-text {
  color: var(--vt-c-white); /* Remplacez $white par la couleur appropriée */
}

/* Main content styles */
main {
  display: block;
  padding-left: 15%;
  padding-right: 15%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #821BD3 0%, #BA20D3 100%);
  border-radius: 10px;
}

/* Section styles */
.section {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  transition: transform 0.5s ease-in-out;
  scroll-snap-align: start;
  z-index: 1;
}

.section-content {
  z-index: 1;
}

#section1 {
  gap: 30px;
}

.rectangle-container {
  display: flex;
  justify-content: space-around;
}

.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--vt-c-grey);
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rectangle:hover {
  transform: scale(1.1);
  z-index: 2;
}

.rectangle img {
  display: none;
}

.rectangle:hover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: 0;
}

.badge {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: var(--vt-c-grey);
  border: solid 2px var(--vt-c-rose);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.square-container {
  display: flex;
  justify-content: space-around;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 180px;
  border-radius: 30px;
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--vt-c-grey);
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.square:hover {
  background-color: rgba(21, 21, 21, 1.1);
}

#section2, #section3, #section4, #section5, #section6 {
  align-items: center;
}

.summary {
  position: fixed;
  top: 0;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  gap: 20px;
}

.highlight {
  background: linear-gradient(91.29deg, #BA20D3 0.23%, #821BD3 52.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button {
  background-color: #232323;
  width: 160px;
  height: 50px;
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  color: var(--vt-c-white);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Geist-Bold', sans-serif;
}

.button img {
  width: 20%;
}

.button:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}

/* Waves container styles */
.waves-container {
  position: relative;
  width: 100%;
  margin-bottom: -7px; /* Adjust this value to control the overlap */
}

.waves {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 100px;
  }
}

.mac-window {
  width: 1100px;
  height: 650px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  overflow: hidden;
}

.mac-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px 0 0;
}

.mac-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.red {
  background: rgba(255, 0, 0, 0.5);
}

.red:hover {
  background: red;
  cursor: pointer;
}

.yellow {
  background: rgba(255, 92, 0, 0.5);
}

.yellow:hover {
  background: orange;
  cursor: pointer;
}

.green {
  background: rgba(82, 255, 0, 0.5);
}

.green:hover {
  background: greenyellow;
  cursor: pointer;
}


.mac-content {
  padding: 40px;
}

.mac-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.arrow {
  background: none;
  border: none;
  color: var(--vt-c-white);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu-text {
  overflow: hidden;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-items {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  width: 100%;
  justify-content: center;
}

.menu-item {
  min-width: 200px;
  text-align: center;
  margin: 0 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.menu-item.previous,
.menu-item.next {
  transform: scale(0.8);
  opacity: 0.5;
}

.menu-item.active {
  transform: scale(1);
  opacity: 1;
}

.content {
  margin-top: 20px;
}

.content-item {
  display: none;
}

.content-item.active {
  display: block;
}